/* * {
    margin: 0px;
    padding: 0px;
}

.side {
    margin-top: -2rem;
    margin-left: -42rem;
    background-color: rgba(76, 51, 4, 0.925);
    color: white;
}

.icon {
    color: white;
}

.search-bar {
    align-items: center;
    justify-content: center;
    padding-left: 15rem;
    width: 20rem;
}

.search-bar input {
    width: 30rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
} */